In [4]:
!pip install openpyxl

Requirement already satisfied: openpyxl in ./env/lib/python3.9/site-packages (3.1.3)
Requirement already satisfied: et-xmlfile in ./env/lib/python3.9/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.2.3; however, version 24.0 is available.
You should consider upgrading via the '/Users/matt/Code/bird_probability/env/bin/python -m pip install --upgrade pip' command.

In [5]:
import pandas as pd

# Dates Groupings and medians
- get the median song duration for the day 
- find the last three medians 
- take the average of the last three 
- average * .95 gives us a threashold 
- find the day where we cross that threshold

In [6]:
data_set = pd.read_excel(open('./data/Duration pre Processing.xlsx', 'rb'),
              sheet_name='Sheet1')

In [8]:
grouped = data_set.groupby('Date')[['Duration (msec)']]
output = grouped.apply(lambda x: x.quantile(0.75) - x.quantile(0.25))

output.to_csv('hi_bex.csv')

In [2]:
filter_threshold = output.quantile(0.95)

last_three_average = output[output < filter_threshold].dropna().tail(3)['Duration (msec)'].mean()

threshold = last_three_average * 1.05
print(f"The Threshold is {threshold} milliseconds")

NameError: name 'output' is not defined

In [9]:
data_set.loc[data_set['Date'] == '2023-03-03']
median_set = data_set.groupby('Date')['Duration (msec)'].median()
median_set

Date
2023-03-03    1589.105
2023-03-17    1899.020
2023-03-24    2038.385
2023-03-28    2398.230
2023-03-31    2202.705
2023-04-05    2539.670
2023-04-07    2094.540
2023-04-12    2387.825
2023-04-19    1393.580
2023-04-21    1917.740
2023-04-25    2620.795
2023-04-28    2398.220
2023-05-03    2281.750
2023-05-05    2100.785
2023-05-10    2113.260
2023-05-12    2069.595
2023-05-17    1965.585
2023-05-19    2161.100
2023-05-24    2131.980
2023-05-31    1988.575
2023-06-07    2081.135
Name: Duration (msec), dtype: float64

In [45]:
median_set.to_csv('median_set.csv')

In [14]:
grouped_set = data_set.groupby('Date').count()
grouped_set

            Duration (msec)
Date
2023-03-03               30
2023-03-17               30
2023-03-24               30
2023-03-28               30
2023-03-31               30
2023-04-05               16
2023-04-07               30
2023-04-12               10
2023-04-19                3
2023-04-21               30
2023-04-25               30
2023-04-28               30
2023-05-03               30
2023-05-05               30
2023-05-10               30
2023-05-12               30
2023-05-17               30
2023-05-19               30
2023-05-24               30
2023-05-31               30
2023-06-07               30

In [39]:
median_frame = median_set.to_frame()
median_frame.reset_index(inplace=True)

In [48]:
median_set.quantile(0.95)

2539.67

In [43]:
## how group? 

new_set = []
for x in range(0, len(data_set)):
    row = data_set.iloc[x]
    new_row = row.copy()
    if x < len(median_set): 
        new_row['median_date'] = median_frame.iloc[x]['Date']
        new_row['median_score'] = median_frame.iloc[x]['Duration (msec)']
    else: 
        new_row['median_date'] = None
        new_row['median_score'] = None  

    new_set.append(new_row)

In [44]:
pd.DataFrame(new_set).to_csv('hi_bex.csv')