In [3]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
     |████████████████████████████████| 251 kB 550 kB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3
WARNING: You are using pip version 21.2.3; however, version 24.0 is available.
You should consider upgrading via the '/Users/matt/Code/bird_probability/env/bin/python -m pip install --upgrade pip' command.

In [1]:
import pandas as pd

# Dates Groupings and medians
- get the median song duration for the day 
- find the last three medians 
- take the average of the last three 
- average * .95 gives us a threashold 
- find the day where we cross that threshold

In [13]:
data_set = pd.read_excel(open('./data/Duration pre Processing.xlsx', 'rb'),
              sheet_name='Sheet1')

In [29]:
test_set = data_set.loc[data_set['Date'] == '2023-03-03']

# Calculate the interquartile range
iqr = test_set['Duration (msec)'].quantile(0.75) - test_set['Duration (msec)'].quantile(0.25)

print("Interquartile Range:", iqr)

Interquartile Range: 602.28

In [40]:
grouped = data_set.groupby('Date')[['Duration (msec)']]
output = grouped.apply(lambda x: x.quantile(0.75) - x.quantile(0.25))

            Duration (msec)
Date
2023-03-03         602.2800
2023-03-17         660.4000
2023-03-24         552.2475
2023-03-28         629.1875
2023-03-31         639.6200

In [68]:
filter_threshold = output.quantile(0.95)

last_three_average = output[output < filter_threshold].dropna().tail(3)['Duration (msec)'].mean()

threshold = last_three_average * 1.05
print(f"The Threshold is {threshold} milliseconds")

The Threshold is 166.67699999999994 milliseconds

617.6666666666666

In [17]:
data_set.loc[data_set['Date'] == '2023-03-03']
median_set = data_set.groupby('Date')['Duration (msec)'].median()
median_set

Date
2023-03-03    1589.105
2023-03-17    1899.020
2023-03-24    2038.385
2023-03-28    2398.230
2023-03-31    2202.705
2023-04-05    2539.670
2023-04-07    2094.540
2023-04-12    2387.825
2023-04-19    1393.580
2023-04-21    1917.740
2023-04-25    2620.795
2023-04-28    2398.220
2023-05-03    2281.750
2023-05-05    2100.785
2023-05-10    2113.260
2023-05-12    2069.595
2023-05-17    1965.585
2023-05-19    2161.100
2023-05-24    2131.980
2023-05-31    1988.575
2023-06-07    2081.135
Name: Duration (msec), dtype: float64

In [14]:
grouped_set = data_set.groupby('Date').count()
grouped_set

            Duration (msec)
Date
2023-03-03               30
2023-03-17               30
2023-03-24               30
2023-03-28               30
2023-03-31               30
2023-04-05               16
2023-04-07               30
2023-04-12               10
2023-04-19                3
2023-04-21               30
2023-04-25               30
2023-04-28               30
2023-05-03               30
2023-05-05               30
2023-05-10               30
2023-05-12               30
2023-05-17               30
2023-05-19               30
2023-05-24               30
2023-05-31               30
2023-06-07               30